*{
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
}
body>h1{ 
    text-align: center;
}
#menu{
    background-color: rgb(0, 82, 155);
    text-align: center;
    margin-bottom: 2em;
}
#menu ul{
    list-style-type: none;
    padding: 0;
}
#menu li{
    display: inline;
}
#menu li a{
    color: rgb(0, 0, 0);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}
#menu li a:hover{
    background-color: rgb(255, 207, 6);
}
#menu li a:hover,#menu li a.ativo{
    background-color: rgb(255, 207, 6);
    border-radius: 2em;
}
fieldset legend{
    text-align: left;
}
div h2 p{
    line-height: 60px;
}
#causa{
    color: rgb(255, 207, 6);
}
#prog{
    color: rgb(255, 207, 6);
}
tr th{
    color: rgb(255, 207, 6);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}
h2>p{
    text-align: center;
}
div h2{
    text-align: center;
    color:rgb(255, 207, 6);
}
fieldset legend{
    color: rgb(255, 207, 6);
}
main div, body>div,form,table{
    align-items: center;
    border: 3px solid  rgb(255, 207, 6);
    background-color: rgb(0, 82, 155);
    border-radius: 0.5em;
    padding-bottom: 0.5em;
}
iframe {
    display: flex;
    align-items: center;
    justify-content: center;
}
body>h1{
    color: rgb(255, 207, 6);
}
img{
    align-items: center;
}
p{
    text-align: center;
}